* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.3s;
}

html {
	font-size: 18px;
}

body {
	font-family: "Open Sans", sans-serif !important;
	background: linear-gradient(to right, #339af0, #111920);
}

a {
	text-decoration: none;
}

#reload,
#password {
	max-width: auto;
}

#re-load {
	width: 4rem;
}

#output-rel,
#output-bal #output,
#output_num,
#output_amt,
#output_bal {
	margin-bottom: 0;
}

.table-striped {
	max-width: 50%;
}

section {
	text-align: center;
}

.card {
	max-width: 20rem;
	max-height: auto;
	text-align: center;
}

p {
	margin-bottom: 0;
	padding: 0;
}

#toast-balance {
	position: absolute;
	top: 70px;
	right: 20px;
}

#pasaload_history {
	width: 100%;
	max-width: 700px;
}

.form-label,
#output-rel,
#output-bal,
#login-head {
	color: white;
}
